
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
</head>
<body>
    <main class="container">

        <div class="starter-template">
            <h1>Succses Login Sir </h1>
            <p class="lead">coming soon</p>
        </div>

    </main>
</body>
</html>
